<!DOCTYPE html>
<html>
<head>
    <title>TodoMVC</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue"></script>
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/todomvc-app-css@2.2.0/index.css"
    />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<section class="todoapp">
    <header class="header">
        <h1>todos-cloud</h1>
        <button
                class="clear-completed"
                @click="syncTodos"
        >
            Sync with Server
        </button>
        <input
                class="new-todo"
                autofocus
                autocomplete="off"
                placeholder="What needs to be done?"
                v-model="newTodo"
                @keyup.enter="addTodo"
        />
    </header>
    <section class="main" v-show="todos.length" v-cloak>
        <input
                id="toggle-all"
                class="toggle-all"
                type="checkbox"
                v-model="allDone"
        />
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li
                    v-for="todo in filteredTodos"
                    class="todo"
                    :key="todo.id"
                    :class="{ completed: todo.completed, editing: todo == editedTodo }"
            >
                <div class="view">
                    <input class="toggle" type="checkbox" v-model="todo.completed"/>
                    <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                    <button class="destroy" @click="removeTodo(todo)"></button>
                </div>
                <input
                        class="edit"
                        type="text"
                        v-model="todo.title"
                        v-todo-focus="todo == editedTodo"
                        @blur="doneEdit(todo)"
                        @keyup.enter="doneEdit(todo)"
                        @keyup.esc="cancelEdit(todo)"
                />
            </li>
        </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
        </span>
        <ul class="filters">
            <li>
                <a href="#/all" :class="{ selected: visibility == 'all' }">All</a>
            </li>
            <li>
                <a href="#/active" :class="{ selected: visibility == 'active' }"
                >Active</a
                >
            </li>
            <li>
                <a
                        href="#/completed"
                        :class="{ selected: visibility == 'completed' }"
                >Completed</a
                >
            </li>
        </ul>
        <button
                class="clear-completed"
                @click="removeCompleted"
                v-show="todos.length > remaining"
        >
            Clear completed
        </button>

    </footer>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="http://evanyou.me">Evan You</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

<script>
    // Full spec-compliant TodoMVC with localStorage persistence
    // and hash-based routing in ~120 effective lines of JavaScript.
    var AMAZON_ENDPOINT_LIST_TODOS = 'https://[replace-me].execute-api.us-east-1.amazonaws.com/dev/todos'
    var AMAZON_ENDPOINT_GET_TODO = 'https://[replace-me].execute-api.us-east-1.amazonaws.com/dev/todos/{id}'
    var AMAZON_ENDPOINT_CREATE_TODO = 'https://[replace-me].execute-api.us-east-1.amazonaws.com/dev/todos'
    var AMAZON_ENDPOINT_UPDATE_TODO = 'https://[replace-me].execute-api.us-east-1.amazonaws.com/dev/todos/{id}'

    // localStorage persistence
    var STORAGE_KEY = "todos-aws";
    var todoStorage = {
        fetch: function () {
            var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]");
            todoStorage.uid = todos.length;
            return todos;
        },
        save: function (todos) {
            localStorage.setItem(STORAGE_KEY, JSON.stringify(todos));
        }
    };

    // visibility filters
    var filters = {
        all: function (todos) {
            return todos;
        },
        active: function (todos) {
            return todos.filter(function (todo) {
                return !todo.completed;
            });
        },
        completed: function (todos) {
            return todos.filter(function (todo) {
                return todo.completed;
            });
        }
    };

    // app Vue instance
    var app = new Vue({
            // app initial state
            data: {
                todos: todoStorage.fetch(),
                newTodo: "",
                editedTodo: null,
                visibility: "all"
            },


            // // watch todos change for localStorage persistence
            // watch: {
            //     todos: {
            //         handler: function (todos) {
            //             todoStorage.save(todos);
            //         },
            //         deep: true
            //     }
            // },

            // computed properties
            // http://vuejs.org/guide/computed.html
            computed: {
                filteredTodos: function () {
                    return filters[this.visibility](this.todos);
                },
                remaining: function () {
                    return filters.active(this.todos).length;
                },
                allDone: {
                    get: function () {
                        return this.remaining === 0;
                    },
                    set: function (value) {
                        this.todos.forEach(function (todo) {
                            todo.completed = value;
                        });
                    }
                }
            },

            filters: {
                pluralize: function (n) {
                    return n === 1 ? "item" : "items";
                }
            },

            // methods that implement data logic.
            // note there's no DOM manipulation here at all.
            methods: {
                addTodo: function () {
                    var value = this.newTodo && this.newTodo.trim();
                    if (!value) {
                        return;
                    }

                    axios.post(AMAZON_ENDPOINT_CREATE_TODO,
                        {
                            title: value,
                            completed: false
                        })
                        .then(response => {
                            console.log(response)
                            this.todos.push({
                                id: response.data.id,
                                title: value,
                                completed: false
                            });

                            this.newTodo = "";
                            todoStorage.save(this.todos)

                        });
                },

                removeTodo: function (todo) {
                    this.todos.splice(this.todos.indexOf(todo), 1);
                    //HOMEWORK - ADD THE CODE to remove TODO FROM AWS
                },

                editTodo: function (todo) {
                    this.beforeEditCache = todo.title;
                    this.editedTodo = todo;
                    //HOMEWORK - Add the code to  update TODO FROM AWS
                },

                doneEdit: function (todo) {
                    if (!this.editedTodo) {
                        return;
                    }
                    this.editedTodo = null;
                    todo.title = todo.title.trim();
                    if (!todo.title) {
                        this.removeTodo(todo);
                    }
                },

                cancelEdit: function (todo) {
                    this.editedTodo = null;
                    todo.title = this.beforeEditCache;
                },

                removeCompleted: function () {
                    this.todos = filters.active(this.todos);
                },

                syncTodos: function () {
                    axios
                        .get(AMAZON_ENDPOINT_LIST_TODOS)
                        .then(response => {
                            console.log(response.data)
                            this.todos = response.data;
                            todoStorage.save(this.todos);
                        });
                }
            },

            // a custom directive to wait for the DOM to be updated
            // before focusing on the input field.
            // http://vuejs.org/guide/custom-directive.html
            directives:
                {
                    "todo-focus": function (el, binding) {
                        if (binding.value) {
                            el.focus();
                        }
                    }
                }
        })
    ;

    // handle routing
    function onHashChange() {
        var visibility = window.location.hash.replace(/#\/?/, "");
        if (filters[visibility]) {
            app.visibility = visibility;
        } else {
            window.location.hash = "";
            app.visibility = "all";
        }
    }

    window.addEventListener("hashchange", onHashChange);
    onHashChange();

    // mount
    app.$mount(".todoapp");
</script>
</body>
</html>
